/* font-family: 'Montserrat', sans-serif;
font-family: 'New Tegomin', serif; */

/* Color palette */

/* #542C23
#6B382D
#EB7B63
#F78268
#D16E58 */

/* Contrast color palette

#FFFE97
#858319
#EBD68A
#C7D5ED
#5A94B8
*/

/* Navigation */

#navigation {
    background-color: #542c23;
    color: #fefefe;
}

#navigation a {
    color: #fefefe;
}

/* Footer */

#footer {
    background-color: #542c23;
    color: #fefefe;
}
