@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&display=swap');

/* Clear any browser-specific formatting */
* {
	margin: 0;
	border: 0;
	padding: 0;
}

/* Navigation */

#navigation {
    background-color: #542c23;
    color: #fefefe;
    padding: 20px;
}

#navigation h1 {
    font-family: 'New Tegomin', serif;
    float: left;
    text-transform: uppercase;
}

#navigation a {
    color: #fefefe;
}

#navigation ul {
    list-style: none;
    float: right;
}

#navigation li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

/* Section */
section {
    padding: 20px;
}


/* Footer */

#footer {
    background-color: #542c23;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    
}

footer h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

#footer p {
    margin: 0;
}

#footer a {
    color:#fefefe;
}

#footer a:hover {
    text-decoration: none;
}

#social a i {
    width: 36px;
    height: 36px;
    background-color: #fefefe;
}


