@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&display=swap');

/* Clear any browser-specific formatting */
* {
	margin: 0;
	border: none;
	padding: 0;
}

/* Navigation */

#navigation {
    background-color: #542c23;
    color: #fefefe;
}

#navigation h1 a:hover {
    text-decoration: none;
}

.navbar-brand {
    color: #fefefe;
    font-family: 'New Tegomin', serif;
    text-transform: uppercase;
}

.navbar a:hover {
    text-decoration: none;
    color: #fefefe;
}

.nav-link {
    color: #fefefe; 
    font-family: 'Montserrat', sans-serif;
}

.active-link {
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #5A94B8;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  .fa-bars {
    color: #fefefe; 
  }

/* Section */
body {
    margin: 0;
} 

body,
html {
    height: 100%;
    margin: 0;
}

.background {
    /* The image used */
    background-image: url("/assets/images/home/bar.jpg");

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-section {
    padding-top: 56px;
    background-color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    min-height: 48em;
}

.page-header {
    font-family: 'New Tegomin', serif;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    border-color: #542c23;
    border-width: 1px;
    border-style: solid;
}

.margin-bottom {
    margin-bottom: 20px;
}

/* index.html */
#hero-image {
    max-height: 80%;
    object-fit: cover;
}

#tagline {
    padding-bottom: 20px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 20px;
}

/* visit.html */

#nav-tab {
    padding-top: 20px;
} 

.nav-link {
    padding: 0.5rem 0.5rem;
}

.nav-tabs a.nav-link {
    color: black;
}

#nav-players, #nav-gamemasters, #nav-newbies { 
    text-decoration: none;
}

.tab-header {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 20px;
}

.tab-pane {
    padding-bottom: 20px;
}

.tab-pane ul {
    padding-left: 15px;
    padding-right: 15px;
}

#why-dnd, #highlight {
    width:100%;
    height:15em;
}

#minis-2-in-col {
    height: 340px;
    width: 570px;
    object-fit: cover;
}

#gunslinger {
    margin-top: 70px;
}

/* menu.html */

.food-list, .food-pics, .drink-list, .drink-pics {
    padding-bottom: 40px;
}

.food-list h3, .drink-list h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.food-list ul, .drink-list ul {
    list-style: none;
}

/* directions.html  */

.google-map-div, .directions-div {
    padding-bottom: 40px;
}

#google-map {
    border-color: #542c23;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 20em;
}

#public-transport-h3 {
    padding-top: 20px;
}

/* about.html */

.top-row-padding {
    padding-top: 40px;
}

.about-cafe, .about-cafe-image, .about-richard, .about-richard-image, .about-liz, .about-liz-image {
    padding-bottom: 40px;
}

.about-cafe h3, .about-richard h3, .about-liz h3 {
    font-family: 'New Tegomin', serif;
    padding-bottom: 20px;
}

/* Buttons */

.btn-success, .btn-primary {
    color: #fefefe;
    background-color: #5A94B8;
}

/* TODO: Change hover effect */
.btn-success:hover {
    color: #5A94B8;
    background-color: #fefefe;
}

/* Footer */

#footer {
    background-color: #542c23;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 0.8em;
}

footer h5 {
    font-family: 'New Tegomin', serif;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;
}

#footer p {
    margin: 0;
}

#footer a {
    color:#fefefe;
}

#opening-hours td {
    padding-right: 10px;
}

#social a {
    padding-right: 30px;
}

#social a:hover {
    text-decoration: none;
}


#social a i {
    width: 40px;
    height: 40px;
    background-color: #6B382D ;
    text-align: center;
    padding: 12px 0;
    font-size: large;
    border-style: solid;
    border-width: 1px;
    border-color: #fefefe;
    color: #5A94B8; 
}

#social a i:hover {
    color: #fefefe;
    background-color: #5A94B8;
}

#newsletter input {
    display: block;
}

/* Media queries */
@media(max-width: 576px) {
    #minis, #minis-2, #people {
        height: 250px;
        width: 330px;
        object-fit: cover;
    }
    
}

@media(max-width: 768px) {
    #minis {
        height: 360px;
        width: 100%;
        object-fit: cover;
    }
    .fa-facebook-f, .fa-twitter {
        margin-bottom: 30px;
    }
}

@media(min-width: 768px) {
    .margin-bottom {
        margin-bottom: 40px;
    }
    #minis-2, #dice {
        height: 360px;
        width: 640px;
        object-fit: cover;
        margin-top: 25px;
    }
    #agenda {
        margin-bottom: 40px;
    }
    #gm-form-header {
        margin-bottom: 20px;
    }
    #btn-agenda {
        margin-top: 24px;
    }
}

@media(max-width: 1200px) {
    .fa-facebook-f {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #minis {
        height: 360px;
        width: 80%;
        object-fit: cover;
    }
}

@media(min-width: 1200px) {
    .margin-xl-top {
        margin-top: 20px;
    }
    .about-cafe-image, .about-richard-image, .about-liz-image {
        padding-top: 60px;
    }
    #minis {
        height: 370px;
        width: 330px;
        object-fit: cover;
    }
    #people {
        height: 390px;
        width: 640px;
        object-fit: cover;
    }
    .xl-width {
        width: 330px;
    }
}